body{
  height: 100em;
}


/*------------------------
|       header-menu       |
--------------------------*/
header{
  width: 100%;
  position: fixed;
}
div#content{
  padding-top: 80px;
}
div.container-fluid{
  font-size: 125%;
  margin-top: 1em;
  text-align: center;
}
ul.navbar-nav li{
  width: 9em;
}
ul.navbar-nav li:hover{
  background-color: rgba(200,200,200,0.3);
}
.navbar{
  background-color: #343134 !important;
  min-height: 80px !important;
}
/*------------------------
|       top-image        |
--------------------------*/

/*------------------------
|                         |
--------------------------*/

/*------------------------
|                         |
--------------------------*/

/*------------------------
|                         |
--------------------------*/

/*------------------------
|                         |
--------------------------*/

/*------------------------
|                         |
--------------------------*/
